html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 100vmin;
  height: 100vmin;
  margin: 0 auto;
}

.grid-item {
  background-color: aqua;
  border: 1px solid blue;
  flex: 0 0 calc(100% / 16);
  height: calc(100% / 16);
}